/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #FFF;
}

/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

/* ---------------------------- */
/* Base
/* ---------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: .05em;
  font-family: 'Noto Serif','Noto Serif JP', serif;
  color: #171717;
}

img {
  vertical-align: bottom;
  width: 100%;
}

/* -------------------------------------------
header
---------------------------------------------- */
.l-wrap {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.header {
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .header {
    padding: 30px 4vw 0;
  }
}

.header a {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
  font-style: italic;
}

.header a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header.is-fixed {
  position: fixed;
  background-color: #282f35;
  padding: 30px;
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #282f35;
  }
}

.header__site-title {
  font-size: 2.6rem;
}

.header__nav-list {
  display: flex;
}

@media (max-width: 768px) {
  .header__nav-list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.header__nav-item {
  margin-right: 30px;
}

@media (max-width: 768px) {
  .header__nav-item {
    margin: 0 0 30px;
  }
}

.header__nav-item:last-of-type {
  margin-right: 0;
}

@media (max-width: 768px) {
  .header__nav-item:last-of-type {
    margin-bottom: 0;
  }
}

.header__burger-btn {
  display: none;
}

@media (max-width: 768px) {
  .header__burger-btn {
    display: block;
    position: absolute;
    top: 30px;
    right: 4vw;
  }
}

@media (max-width: 768px) {
  .header__burger-btn .bar_top {
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .header__burger-btn .bar_mid {
    margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .header__burger-btn.cross .bar_top {
    transform: rotate(45deg) translate(8px, 8px);
    transition: 0.3s;
  }
  .header__burger-btn.cross .bar_mid {
    opacity: 0;
    transition: 0.3s;
  }
  .header__burger-btn.cross .bar_bottom {
    transform: rotate(-45deg) translate(8px, -8px);
    transition: 0.3s;
  }
}

@media (max-width: 768px) {
  .header__bar {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #FFFFFF;
  }
}

@media (max-width: 768px) {
  body.noscroll {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
}

.u-hidden {
  display: none !important;
}

@media (max-width: 768px) {
  .u-hidden-sp {
    display: none !important;
  }
}

@media null {
  .u-hidden-tab {
    display: none !important;
  }
}

@media null {
  .u-hidden-pc {
    display: none !important;
  }
}

.u-mb-10 {
  margin-bottom: 10px !important;
}
/*# sourceMappingURL=style.css.map */